@import url('https://fonts.googleapis.com/css?family=Audiowide|Shadows+Into+Light+Two&display=swap');

.navbar{
    font-family: 'Audiowide', cursive;
}

.card-deck{
    font-size: 15px;
    font-family: 'Audiowide', cursive;
}

.card{
    -moz-transition: all 1s ease-out;
    -webkit-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    transition: all 1s ease-out;
}

.card:hover{
    -moz-transform:scale(0.9);
    -webkit-transform:scale(0.9);
    -o-transform:scale(0.9); 
    transform: scale(0.9);
}

.hey{
    text-align: center;
    font-size: 25px;
    font-family: 'Shadows Into Light Two', cursive;
}

footer{
    margin: 5px;
    text-align: center;
    font-family: 'Shadows Into Light Two', cursive;
}

h1{
    animation-duration: 3s;
    animation-name: slidein;
  }

.pp{
    animation-duration: 5s;
    animation-name: slidein;
  }

  .ppc{
    animation-duration: 5s;
    animation-name: slidein;
    color: black;
    font-weight: bold;
  }


  .ppp{
    animation-duration: 15s;
    animation-name: slidein_2;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes slidein_2 {
    from {
      margin-right: 100%;
      width: 300%; 
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

  
  